<%= form_for [post, comment] do |f| %>
<% if comment.errors.any? %>
<div class="alert alert-danger">
  <h4>There are <%= pluralize(comment.errors.count, "error") %>.</h4>
    <ul>
      <% comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>
    <%= f.label :body %>
    <%= f.text_field :body, placeholder: "Enter comment" %>
    <%= f.submit "Create Comment" %>
<% end %>