<%= simple_form_for [topic, post], defaults: { wrapper_html: {class: 'form-group'}, input_html: { class: 'form-control' } } do |f| %>
   <% if post.errors.any? %>
     <div class="alert alert-danger">
       <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
       <ul>
       <% post.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
  <%= f.input :title, required: false, error: false, placeholder: "Enter post title" %>
  <%= f.input :body, as: :text, required: false, error: false, input_html: { rows: 8 }, placeholder: "Enter post body" %>
  <%= f.button :submit, "Save", class: "btn btn-success" %>
<% end %>