<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
    <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
    submitted <%= time_ago_in_words(@post.created_at) %> ago by
    <%= @post.user.name %>
    </small>
    <p><%= markdown @post.body %><br/>
    <%= image_tag(@post.image.url) if @post.image? %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@post).destroy? %>
      <%= link_to "Delete", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <h2>Comments</h2>
    <%= render partial: 'comments/comment', locals: { post: @post, comments: @comments } %>
  <% if current_user %>
  <h3>Add a comment:</h3>
   <%= render partial: 'comments/form', locals: { post: @post, comment: @comments.new} %>
  <% end %>
  </div>
</div>